.drum-pad {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 48px;
  background-color: grey;
  border-radius: 12px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 4px 3px 3px 1px;
}

.drum-pad:active, .drum-pad.active {
  box-shadow: none;
  background-color: yellow;
}
